@font-face {
  /* Font family name */
  font-family: 'latolight';

  /* Path to the WOFF file */
  src: url('fonts/Lato-Light.woff') format('woff');

  /* Optional: Font weight and style */
  font-weight: normal;
  font-style: normal;
}
*:not(footer):not(.imageContainer){
  position:relative;
animation:animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}
body {
  font-family: latolight;
  margin: 0;
  padding: 0;
}
header {
  background-color: #161421;
  color: #F6D55C;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  color: #161421;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

