body{
  min-height: 100vh;
  background-color:#6eabb8;
}

head{
  background-color:#2f7382;
}

header{
  text-align: center;
  background-color:#2f7382;
  width: 100%;
}

main{
  background-color:#FFFFFF;
}

.collapsible {
  background-color: #42a4f5;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
}

.active, .collapsible:hover {
  background-color: #320bb3;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.container {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
.text {
    font-size: 20px;
    float: left;
    width: 1050px;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px; /* Adds some space above the button */
}
.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    padding: 0px;
    background: #333;/*blank*/
    color: gray;
    text-align: center;
    padding: 10px 0;
}

.sticky-footer {
    position: sticky;
    margin: 0;
    left:0;
    right:0;
}
