@font-face {
  /* Font family name */
  font-family: 'latolight';

  /* Path to the WOFF file */
  src: url('fonts/Lato-Light.woff') format('woff');

  /* Optional: Font weight and style */
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: latolight;
  margin: 0;
  padding: 0;
}
header {
  background-color: #161421;
  color: #F6D55C;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  color: #000000;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

section {
  padding: 50px;
}

h2 {
  color: black;
}
.citation-container {
  font-family: "Times New Roman", Times, serif;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.citation-container i {
  font-style: italic;
}

.citation-container a {
  color: #0074d9;
  text-decoration: none;
}

.citation-container a:hover {
  text-decoration: underline;
}
.download {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.view {
    background-color: #378805;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.imageContainer{
  float: right;
  padding: 0 12.5%;
  display: none;

.navbar ul{
  list-style-type:none;
  overflow: hidden;
}
.navbar a{
  text-decoration:none;
  display:block
  text-align:center;
}
.navbar li{
  float:left;
}
body {
  font-family: latolight;
  margin: 0;
  padding: 0;
}
        
.button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}
        
.button:hover {
  background-color: #3e8e41;
}

.button-container {
  text-align: center;
  margin: 10px;
}
        
.collapsible {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
        
.collapsible:hover {
  background-color: #3e8e41;
}
        
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
        
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border: 2px
  border-radius: 50%;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
